<h1><%= @season.title %>'s Leagues </h1>
  <h2>
    <div>
      <table id="leagues_list">
        <th>League Name</th> 
        <th>Premier Date</th>
        <% @leagues.each do |l| %>
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
              <td><%= link_to l.title, league_path(l.id) %> <br></td>
              <td><%= l.premier %></td>
              <td>
                 
                  <%= link_to 'Join League', new_roster_path(:league_id => l.id), :class =>  "btn btn-primary" %> 
                
              </td>
            </tr> 
        <% end%>    
      </table>
    </div>
  </h2>