<h1>League <%= @league.title %> for Challenge: <%= @season.title %> </h1>
  <% case current_user.role %> 
    <% when "Administrator", "Creator" %>
      <button type="button" class="btn btn-primary"> <%= link_to 'Populate Teams', edit_league_path(@league) %> </button>
      
  <% end %>
<div>
  <table id="rosters_list">
    <th>Roster Name</th>
    <th>Total Points</th>
    <% @rosters.each do |r| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= link_to r.name, roster_path(r.id) %> <br></td>
          <td><%= r.total_points != nil ? r.total_points : 0  %></td>
        </tr>
    <% end%>   
  </table>
</div>