<div class="container-fluid">
    <div class="span8 main-content">
        <%= form_for @episode do |i| %>

          <% @episode.errors.messages.each do |msg| %>
          <P class="error_message"><%= msg[1][0] %></P>
              <% end %>
            <div>
            <%= i.hidden_field :player_id, :value => @episode.player_id %>
            </div>
            <table>
              <tr>
                <td><%= i.label :title %></td>
                <td><%= i.text_field :title %></td>
              </tr>
              <tr> 
                <td><%= i.label :crying %></td>
                <td><%= i.text_field :crying, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :not_make_friends %></td>
                <td><%= i.text_field :not_make_friends, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :right_reasons %></td>
                <td><%= i.text_field :right_reasons, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :try_to_make_person_cry %></td>
                <td><%= i.text_field :try_to_make_person_cry, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :blame_parents %></td>
                <td><%= i.text_field :blame_parents, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :call_cause_everyone_hates %></td>
                <td><%= i.text_field :call_cause_everyone_hates, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :threaten_to_sue %></td>
                <td><%= i.text_field :threaten_to_sue, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :subject_of_intervention %></td>
                <td><%= i.text_field :subject_of_intervention, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :plugging_career %></td>
                <td><%= i.text_field :plugging_career, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :singing_to_two_or_more %></td>
                <td><%= i.text_field :singing_to_two_or_more, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :open_mouth_kissing %></td>
                <td><%= i.text_field :open_mouth_kissing, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :coitus_or_covers %></td>
                <td><%= i.text_field :coitus_or_covers, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :deny_coitus %></td>
                <td><%= i.text_field :deny_coitus, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :fraud_coitus_claim %></td>
                <td><%= i.text_field :fraud_coitus_claim, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :fraud_coitus_denial %></td>
                <td><%= i.text_field :fraud_coitus_denial, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :std_scare %></td>
                <td><%= i.text_field :std_scare, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :preggers_scare %></td>
                <td><%= i.text_field :preggers_scare, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :intentional_nudity %></td>
                <td><%= i.text_field :intentional_nudity, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :unintentional_nudity %></td>
                <td><%= i.text_field :unintentional_nudity, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :hitting_on_host %></td>
                <td><%= i.text_field :hitting_on_host, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :concealed_erection %></td>
                <td><%= i.text_field :concealed_erection, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :threesome %></td>
                <td><%= i.text_field :threesome, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :past_porn %></td>
                <td><%= i.text_field :past_porn, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :verbal_fight %></td>
                <td><%= i.text_field :verbal_fight, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :physical_fight %></td>
                <td><%= i.text_field :physical_fight, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :physical_fight_win %></td>
                <td><%= i.text_field :physical_fight_win, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :drink_throw %></td>
                <td><%= i.text_field :drink_throw, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :unexplained_injury %></td>
                <td><%= i.text_field :unexplained_injury, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :staff_restrained %></td>
                <td><%= i.text_field :staff_restrained, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :request_assault %></td>
                <td><%= i.text_field :request_assault, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :blaming_rules_for_not_assaulting %></td>
                <td><%= i.text_field :blaming_rules_for_not_assaulting, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :try_to_fight_host %></td>
                <td><%= i.text_field :try_to_fight_host, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :extreme_intoxication %></td>
                <td><%= i.text_field :extreme_intoxication, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :vomiting %></td>
                <td><%= i.text_field :vomiting, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :kicked_out_of_establishment %></td>
                <td><%= i.text_field :kicked_out_of_establishment, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :violate_stated_beliefs %></td>
                <td><%= i.text_field :violate_stated_beliefs, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :attend_church %></td>
                <td><%= i.text_field :attend_church, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :non_court_ordered_volunteering %></td>
                <td><%= i.text_field :non_court_ordered_volunteering, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :kicked_off_show %></td>
                <td><%= i.text_field :kicked_off_show, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :make_others_threaten_to_leave %></td>
                <td><%= i.text_field :make_others_threaten_to_leave, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :threaten_to_leave_show %></td>
                <td><%= i.text_field :threaten_to_leave_show, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :leave_show %></td>
                <td><%= i.text_field :leave_show, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :killed_it %></td>
                <td><%= i.text_field :killed_it, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :win_elimination %></td>
                <td><%= i.text_field :win_elimination, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :win_final %></td>
                <td><%= i.text_field :win_final, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :injury_exit %></td>
                <td><%= i.text_field :injury_exit, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :state_in_control %></td>
                <td><%= i.text_field :state_in_control, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :slander_ex_sex_skills %></td>
                <td><%= i.text_field :slander_ex_sex_skills, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :cannibalism %></td>
                <td><%= i.text_field :cannibalism, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :inciting_vehical_with_siren_to_come %></td>
                <td><%= i.text_field :inciting_vehical_with_siren_to_come, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :assault_inanimate_object %></td>
                <td><%= i.text_field :assault_inanimate_object, value: "0" %></td>
              </tr>
              <tr> 
                <td><%= i.label :cold_sore %></td>
                <td><%= i.text_field :cold_sore, value: "0" %></td>
              </tr>
            </table>
            <div id = 'create-user-button'>
              <%= i.submit %>
            </div>
        <% end %>
    </div>
  
